@use "../../styles/variables" as *;

.tracking-container {
  margin-top: 7% !important;
  max-width: 1250px;
  margin: 0 auto;
  padding: 2rem;
  color: #333;

  .tracking-search {
    text-align: center;
    margin-bottom: 2rem;
  }
  .tracking-info {
    animation: fadeIn 0.5s ease-in-out;
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);  
    }
}



.custom-label-bold .ant-descriptions-item-label {
  font-weight: 700; 
  color: #333; 
}


@keyframes fadeInNotFound {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
