@use "../../styles/variables" as *;

.history-order {
  margin-top: 7.4%;
  width: 100%;
  font-family: $font-primary;

  .history-order-wrapper {
    padding: 20px 300px 20px 150px;
  }

  .history-order-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex: 1;

    .history-order-left {
      flex: 0.3;
    }

    .history-order-right {
      flex: 0.7;
      background: #fff;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
      border-radius: 5px;

      .history-pagination{
        display: flex;
        justify-content: flex-end;
        margin-top: 16px;
      }
    }
  }
}




