.history-order {
  margin-top: 7.4%;
  width: 100%;
  font-family: "Inter", sans-serif;
}
.history-order .history-order-wrapper {
  padding: 20px 300px 20px 150px;
}
.history-order .history-order-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex: 1;
}
.history-order .history-order-row .history-order-left {
  flex: 0.3;
}
.history-order .history-order-row .history-order-right {
  flex: 0.7;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding-bottom: 20px;
}
.history-order .history-order-row .history-order-right .goods-container {
  padding: 20px;
  background-color: #fff;
}
.history-order .history-order-row .history-order-right .goods-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.history-order .history-order-row .history-order-right .goods-header h3 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}
.history-order .history-order-row .history-order-right .goods-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.history-order .history-order-row .history-order-right .goods-table th,
.history-order .history-order-row .history-order-right .goods-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}
.history-order .history-order-row .history-order-right .goods-table th {
  background-color: #f9f9f9;
  font-weight: bold;
  font-size: 16px;
}
.history-order .history-order-row .history-order-right .pay-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}
.history-order .history-order-row .history-order-right .pay-button:hover {
  background-color: #218838;
}
.history-order .history-order-row .history-order-right .detail-link {
  color: #0066CC;
  cursor: pointer;
  transition: 0.2s;
}
.history-order .history-order-row .history-order-right .detail-link:hover {
  text-decoration: underline;
}

.search-bar {
  display: flex;
  margin: 10px 0;
}
.search-bar input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px 0 0 4px;
}
.search-bar input:focus {
  outline: none;
  border: 1px solid #0066CC;
  box-shadow: 0px 2px 10px rgba(0, 102, 204, 0.1725490196);
}
.search-bar .btn-search {
  padding: 8px 12px;
  background-color: #0066CC;
  border: none;
  color: #fff;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
.search-bar .btn-search:hover {
  background-color: rgba(0, 102, 204, 0.1725490196);
  color: #0066CC;
}
.search-bar .icon-search {
  width: 24px;
  height: 22px;
}

.filter-bar {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}
.filter-bar select,
.filter-bar input[type=date] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.filter-bar select:focus,
.filter-bar input[type=date]:focus {
  outline: none;
  border: 1px solid #0066CC;
  box-shadow: 0px 2px 10px rgba(0, 102, 204, 0.1725490196);
}
.filter-bar span {
  margin-top: 10px;
  font-size: 14px;
}

.no-data {
  text-align: center;
  color: #999;
  padding: 20px;
}

.pagination {
  display: flex;
  justify-content: end;
  margin-top: 15px;
}

.pagination button {
  padding: 6px 10px;
  margin: 0 3px;
  border: 1px solid #e0e0e0;
  background: #fff;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #e0e0e0;
}

.pagination button.active {
  background-color: #0066CC;
  color: #fff;
  font-weight: bold;
}

.pagination button:disabled {
  background: #F2F2F2;
  cursor: not-allowed;
}

[class^=status-] {
  font-weight: bold;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}

.status-AwaitingConfirmation {
  background-color: rgba(240, 173, 78, 0.2);
  color: #f0ad4e;
}

.status-Confirm {
  background-color: rgba(2, 117, 216, 0.2);
  color: #0275d8;
}

.status-InTransit {
  background-color: rgba(91, 192, 222, 0.2);
  color: #5bc0de;
}

.status-Delivered {
  background-color: rgba(92, 184, 92, 0.2);
  color: #5cb85c;
}

.status-Cancelled {
  background-color: rgba(217, 83, 79, 0.2);
  color: #d9534f;
}

.status-Unknown {
  background-color: rgba(108, 117, 125, 0.2);
  color: #6c757d;
}/*# sourceMappingURL=HistoryOrders.css.map */