@use "../../styles/variables" as *;

.history-order {
  margin-top: 7.4%;
  width: 100%;
  font-family: $font-primary;

  .history-order-wrapper {
    padding: 20px 300px 20px 150px;
  }

  .ant-table-thead>tr>th {
    background-color: $primary-color !important;
    color: #fff !important;
    font-weight: 600;
    text-align: center;
  }

  .history-order-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex: 1;

    .history-order-left {
      flex: 0.3;
    }

    .history-order-right {
      flex: 0.7;
      background: #fff;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
      border-radius: 5px;

      .history-pagination {
        display: flex;
        justify-content: flex-end;
        margin-top: 16px;

        h3 {
          margin-bottom: 20px;
          font-size: 20px;
          font-weight: bold;
        }
      }

      .goods-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;

        th,
        td {
          border: 1px solid #ddd;
          padding: 10px;
          text-align: center;
          font-size: 14px;
        }

        th {
          background-color: #f9f9f9;
          font-weight: bold;
          font-size: 16px;
        }
      }

      .pay-button {
        background-color: $secondary-text-color;
        color: white;
        border: none;
        padding: 8px 12px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        transition: 0.2s;
      }

      .feedback-button {
        background-color: $secondary-text-color;
        color: white;
        border: none;
        padding: 8px 12px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        transition: 0.2s;
      }

      .pay-button:hover {
        background-color: #218838;
      }

      .feedback-button:hover {
        background-color: #218838;
      }

      .detail-link {
        color: $primary-color;
        cursor: pointer;
        transition: 0.2s;
      }

      .detail-link:hover {
        text-decoration: underline;

      }
    }
  }
}