@use "../../styles/variables" as *;

.change-password {
  margin-top: 7.4%;
  width: 100%;
  font-family: $font-primary;
}

.change-password-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex: 1;
}

.change-password-wrapper {
  padding: 20px 300px 20px 150px;
}

.change-password-left {
  flex: 0.3;
}

.change-password-right {
  flex: 0.7;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  
}