@use "../../styles/variables" as *;

.profile {
  margin-top: 7.4%;
  width: 100%;
  font-family: $font-primary;
}

.profile-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex: 1;
}

.profile-wrapper {
  padding: 20px 150px 20px 60px;
}

.profile-left {
  flex: 0 0 20%; 
  max-width: 20%;
  // flex: 0.3;
}

.profile-right {
  flex: 0 0 80%; 
  max-width: 80%;
  // flex: 0.7;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 16px;
}