//Color
$primary-color: #0066CC;
$secondary-color: #FFC107;
$text-color: #212121;
$secondary-text-color: #4CAF50;
$background-color: #F2F2F2;
$button-hover: #0066cc2c;

//Fonts
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Roboto', sans-serif;
