@use "../../../../../styles/variables.scss" as *;

.order-info-staff-container {
    padding: 2.5em 2em 0 3em;
    font-family: $font-primary;

    .ant-card-head {
        background-color: $primary-color;
        color: white;
    }


}

.preview-wrapper {
  text-align: center;

  .preview-caption {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;

    .preview-title {
      margin-bottom: 4px;
    }

    .preview-date {
      font-size: 14px;
      
    }
  }
}