@use "../../styles/variables" as *;

@mixin image-hover {
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.home {
  margin-top: 7%;
  width: 100%;
}

.home-container {
  width: 100%;
  font-family: $font-primary;
  max-width: 1250px;
  margin: auto;
  background-color: #fff;
}

.home-section-1 {
  .home-content-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .home-content {
    max-width: 50%;

    h2 {
      font-size: 2.5rem;
      font-weight: 700;
      color: $text-color;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      color: #555;
      line-height: 1.6;
      margin-bottom: 30px;
    }
  }

  .home-btn {
    display: flex;
    gap: 15px;

    .btn-learn-more {
      padding: 10px 20px;
      font-size: 14px;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      background-color: $primary-color;
      color: #fff;
      transition: all 0.3s ease;

      &:hover {
        background-color: #0066cc3d;
        color: $primary-color;
        transform: translateY(-2px);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
      }
    }

    .our-policy {
      padding: 10px 20px;
      font-size: 14px;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      background-color: #0066cc3d;
      color: $primary-color;
      transition: all 0.3s ease;

      &:hover {
        background-color: $primary-color;
        color: #fff;
        transform: translateY(-2px);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .home-image-1 {
    max-width: 50%;
    text-align: center;

    img {
      width: 100%;
      max-width: 500px;
      object-fit: contain;
      @include image-hover;
    }
  }
}

// .home-section-2 {
//   background-color: #eaf3f8;
//   padding: 50px 80px;
//   text-align: center;

//   h2 {
//     font-size: 2rem;
//     color: $text-color;
//     margin-bottom: 30px;
//   }

//   .tracking-form {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-wrap: wrap;
//     gap: 20px;
//   }

//   .form-group {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;

//     label {
//       font-weight: 600;
//       margin-bottom: 5px;
//       color: #333;
//     }

//     input {
//       padding: 10px 15px;
//       width: 100%;
//       min-width: 950px;
//       border: 1px solid #ccc;
//       border-radius: 8px;
//       font-size: 14px;
//     }

//     input:focus {
//       outline: none;
//       border: 1px solid $primary-color;
//       box-shadow: 0px 2px 10px $button-hover;
//     }
//   }

//   .btn-track {
//     padding: 12px 20px;
//     background-color: $primary-color;
//     color: #fff;
//     font-size: 14px;
//     border: none;
//     border-radius: 8px;
//     cursor: pointer;
//     transition: all 0.3s ease;
//     margin-top: 20px;
//   }

//   .btn-track:hover {
//     background-color: #08508b;
//     transform: translateY(-2px);
//   }
// }

.home-section-3 {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
  background-color: #fff;
  flex-wrap: wrap;

  .home-feature-card {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    max-width: 570px;
    height: 350px;
    transition: transform 0.3s ease;

    img {
      width: 120px;
      height: 120px;
      margin-bottom: 20px;
    }

    h3 {
      font-size: 20px;
      color: $text-color;
      margin-bottom: 12px;
    }

    p {
      font-size: 15px;
      color: #555;
      line-height: 1.5;
    }
  }
  &:hover {
    transform: translateY(-5px);
  }
}

.home-section-4 {
  padding: 60px 20px;

  .home-metro-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
  }

  .home-metro-image {
    img {
      max-width: 500px;
      width: 100%;
      object-fit: contain;
      @include image-hover;
    }
  }

  .home-metro-content {
    flex: 1;
    min-width: 300px;

    h3 {
      font-size: 20px;
      color: #555;
    }

    h2 {
      font-size: 28px;
      color: $text-color;
      display: inline-block;
      position: relative;
      margin-top: 8px;
    }

    h2::after {
      content: "";
      position: absolute;
      width: 18%;
      height: 4px;
      background-color: $primary-color;
      bottom: -6px;
      left: 0;
      border-radius: 2px;
    }

    p {
      margin-top: 16px;
      color: #666;
      line-height: 1.6;
      font-size: 16px;
    }
  }

  .home-features {
    display: flex;
    gap: 80px;
    margin-top: 24px;

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      margin-bottom: 12px;
      color: #333;
      font-weight: 550;
      font-size: 14px;
    }

    .home-check-icon::before {
      content: "✔";
      color: $secondary-text-color;
      margin-right: 8px;
      font-weight: bold;
    }
  }
}

.home-section-5 {
  padding: 60px 20px;

  .home-feedback-container {
    h2 {
      margin-bottom: 20px;
      color: $text-color;
      font-size: 28px;
      text-align: center;
    }
  }

  .home-carousel {
    height: 200px;
    color: $text-color;
    padding: 0 100px;
    background-color: #eaf3f8;
    border-radius: 5px;
  }

  .home-feedback {
    padding: 20px;
    color: $text-color;
    font-size: 16px;

    strong {
      display: block;
      margin-bottom: 20px;
    }

    .home-fb-avtar {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

.home-section-6 {
  padding: 48px 16px;
  text-align: center;

  h2 {
    font-size: 28px;
    font-weight: bold;
    color: $text-color;
    margin-bottom: 40px;
  }

  .home-faq-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 32px;
    text-align: left;

    .home-faq-item {
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);

      .home-faq-question {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 0.5rem;
      }

      .home-faq-answer {
        font-size: 14px;
        color: #555;
        line-height: 1.5;
      }
    }
  }
}

.home-section-7 {
  padding: 48px 32px;

  .home-download-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 60px;
  }

  .home-download-image {
    img {
      max-width: 450px;
      width: 100%;
      height: auto;
      @include image-hover;
    }
  }

  .home-download-text {
    max-width: 670px;
    width: 100%;

    h4 {
      font-size: 18px;
      color: #555;
    }

    h2 {
      font-size: 28px;
      font-weight: 700;
      color: #1f2937;
      margin: 8px 0;
    }

    p {
      color: #555;
      font-size: 16px;
      margin-bottom: 24px;
      line-height: 1.6;
    }
  }

  .app-buttons {
    display: flex;
    gap: 20px;

    img {
      height: 75px;
      @include image-hover;
    }
  }
}

@media (max-width: 768px) {
  .home {
    margin-top: 10%;
    padding: 20px;
  }

  .home-section-1 {
    .home-content-1 {
      flex-direction: column;
    }

    .home-image-1 {
      display: none;
    }

    .home-content {
      max-width: 100%;
      h2 {
        font-size: 1.5rem;
        text-align: center;
      }
    }

    .home-btn {
      flex-direction: row;
      justify-content: center;

      .btn-learn-more,
      .our-policy {
        width: 200px;
      }
    }
  }

  .home-btn {
    flex-direction: column;
    gap: 10px;
  }

  .home-section-3 {
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;

    .home-feature-card {
      max-width: 100%;
    }
  }

  .home-section-4 {
    padding: 0;
  }

  .home-section-5 {
    padding: 30px 0;
    .home-carousel {
      padding: 0;
    }
  }

  .home-section-6 {
    padding: 30px 0;
  }
  .home-feature-card {
    height: auto;
    max-width: 100%;
  }

  .home-metro-container {
    flex-direction: column;
  }

  .home-download-content {
    flex-direction: column;
  }

  .home-section-7 {
    padding: 20px 0;
    .app-buttons {
      justify-content: center;
    }
  }
}
